{% extends "network/layout.html" %}

{% block body %}
    <h1 id="all_posts_header">All Posts</h1>

    {% if user.is_authenticated %}
        <div class="card card-body" id="new_post">
            <p>New Post</p>
            <form id="new_post_form" action="{% url 'new_post' %}" method="post">
                {% csrf_token %}
                {% if message %}
                    <label class="message" for="new_post_content">{{message}}</label>
                {%endif%}
                <textarea id="new_post_content" name="content" placeholder="New Post" minlength="1"></textarea>
                <br>
                <input class="btn btn-dark" type="submit" value="Post">
            </form>
        </div>
    {% endif %}

    {% for post in posts %}
        <div class="card post">
            <div class="card-body">
            <h4 class="card-title">{{ post.owner }}</h4>
            <h6 class="card-subtitle mb-2 text-body-secondary post_timestamp">{{ post.timestamp }}</h6>
            <p class="card-text">{{ post.content }}</p>
            <p class="card-text post_likes"><img src="../static/network/heart.png" alt="Empty Like Icon"> {{ post.likes }}</p>
            </div>
        </div>
    {% endfor %}

{% endblock %}