{% extends "network/layout.html" %}

{% block body %}
    <h1 class="header">{{title}}</h1>

    {% if user.is_authenticated and title == "All Posts" %}
        <div class="card card-body" id="new_post">
            <p>New Post</p>
            <form id="new_post_form" action="{% url 'new_post' %}" method="post">
                {% csrf_token %}
                {% if message %}
                    <label class="message" for="new_post_content">{{message}}</label>
                {%endif%}
                <textarea id="new_post_content" name="content" placeholder="New Post" minlength="1"></textarea>
                <br>
                <input class="btn btn-dark" type="submit" value="Post">
            </form>
        </div>
    {% endif %}

    {% for post in page_obj %}
        <div class="card post">
            <div class="card-body">
            <a href="{% url 'profile' post.owner.id %}"><h4 class="card-title">{{ post.owner }}</h4></a>
            <h6 class="card-subtitle mb-2 text-body-secondary post_timestamp">{{ post.timestamp }}</h6>
            <p class="card-text">{{ post.content }}</p>
            <p class="card-text post_likes"><img src="../static/network/heart.png" alt="Empty Like Icon"> {{ post.likes }}</p>
            </div>
        </div>

        {% if post == page_obj|last %}
            <nav class="Page Control">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link link-dark" href="?page=1">&laquo; First</a></li>
                        <li class="page-item"><a class="page-link link-dark" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {%else%}
                        <li class="page-item disabled"><a class="page-link" aria-disabled="true">&laquo; First</a></li>
                        <li class="page-item disabled"><a class="page-link" aria-disabled="true">Previous</a></li>
                    {% endif %}
            
                    <li class="disabled page-item"><a class="link-dark page-link" aria-disabled="true">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
            
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link link-dark" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link link-dark" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
                    {%else%}
                        <li class="page-item disabled"><a class="page-link" aria-disabled="true">Next</a></li>
                        <li class="page-item disabled"><a class="page-link" aria-disabled="true">Last &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        {%endif%}
    {%empty%}
        {% if title == "All Posts "%}
            <div class="center_message">There have been no posts made in Network as a whole</div>
        {% else %}
            <div class="center_message">From the people you follow there have been no posts made</div>
        {%endif%}
    {% endfor %}

{% endblock %}