{% extends "network/layout.html" %}

{% block title %}
    {% if viewing %}
        {{ viewing.username }}
    {% else %}
        ERROR
    {% endif %}
{% endblock %}

{% block body %}

    {% if message %}

        <div class="center_message">{{ message }}</div>

    {% else %}

        <table id="user_info">
            <tr>
                <th rowspan="3"><h1 class="header" >{{ viewing.username }}</h1></th>
                <th>Followers</th>
                <th>Following</th>
            </tr>
            <tr>
                <td>{{followers}}</td>
                <td>{{following}}</td>
            </tr>
            {% if user != viewing and user.is_authenticated %}
                <tr>
                    <td colspan="2">
                        <form action="{% url 'profile' viewing.id %}" method="post">
                            {% csrf_token %}
                            <input hidden type="text" name="User" value="{{ user.id }}" >
                            {% if followed == None %}
                                <input type="submit" name="Action" value="Follow">
                            {% elif followed %}
                                <input type="submit" name="Action" value="Unfollow">
                            {% endif %}
                        </form>
                    </td>
                </tr>    
            {% endif %}
        </table>

        {% for post in page_obj %}
            <div class="card post">   
                <div class="card-body">
                <div class="post_header left-align"><button class="btn btn-dark edit" id ="{{ post.id }}" >Edit</button></div>
                <h6 class="card-subtitle mb-2 text-body-secondary post_timestamp">{{ post.timestamp }}</h6>
                <p class="card-text {{ post.id }}">{{ post.content }}</p>
                <p class="card-text post_likes"><img src="../static/network/heart.png" alt="Empty Like Icon"> {{ post.likes }}</p>
                </div>
            </div>

            {% if post == page_obj|last %}
                <nav class="Page Control">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link link-dark" href="?page=1">&laquo; First</a></li>
                            <li class="page-item"><a class="page-link link-dark" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                        {%else%}
                            <li class="page-item disabled"><a class="page-link" aria-disabled="true">&laquo; First</a></li>
                            <li class="page-item disabled"><a class="page-link" aria-disabled="true">Previous</a></li>
                        {% endif %}
                
                        <li class="disabled page-item"><a class="link-dark page-link" aria-disabled="true">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
                
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link link-dark" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                            <li class="page-item"><a class="page-link link-dark" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
                        {%else%}
                            <li class="page-item disabled"><a class="page-link" aria-disabled="true">Next</a></li>
                            <li class="page-item disabled"><a class="page-link" aria-disabled="true">Last &raquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>
            {%endif%}
        {% empty %}
            <div class="center_message">There have been no posts by {{viewing.username}}</div>
        {% endfor %}


    {% endif %}

{% endblock %}